/* Conteudo movido de main.css */

@media (max-width: 910px) { /* tratar o conteudo nas responsividades - diz que até 900px, essa pagina responderá essas regras */
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%); /*faz encontrar o meio da pagina */
    }

    #page-home main{
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }
} 


@media (min-width: 1700px) { 
    #page-home {
        background-position-x: 50vw;
    }
}


@media (max-height: 800px) { /*até 760px, respeita essas regras */
    #page-home {
        background-position-y: 200px;
    }
}